<div class="header">
  <mat-card>
    <span routerLink="./">AngulSales</span>
    <span routerLink [ngClass]="{'curPage': router.url == '/'}">Home</span>
    <span routerLink="/companys-page" [ngClass]="{'curPage1': router.url == '/companys-page'}">Companys</span>
    <span routerLink="/customers-page" [ngClass]="{'curPage2': router.url == '/customers-page'}">Customers</span>
    <div class="btns2" *ngIf="(router.url == '/customers-page')">
      <button class="export" (click)="exportCustomersToCsv()"><i class="material-icons">save_alt</i>Export to CSV</button>
      <button class="create" (click)="openAddCustomer()"><i class="material-icons">add</i>Create Customer</button>
    </div>
    <div class="btns" *ngIf="(router.url == '/companys-page')">
      <button class="export" (click)="exportCompanysToCsv()"><i class="material-icons">save_alt</i>Export to CSV</button>
      <button class="create" (click)="openAddCompany()"><i class="material-icons">add</i>Create Company</button>
    </div>
  </mat-card>
</div>