.dataTable {
        table{
            width: 100%;
        }
        td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
            border-color: silver;
        }
        .select{
            margin-right: 30px;
        }
        .filters{
            display: inline;
        }
        .clear{
            width: 30px;
            margin-left: 30px;
        }
        .filters > mat-form-field {
            width: calc(100% - 270px);
        }
        .last_td{
            width: 125px;
            i{
                color: #787a7b;
                background-color: #ebeff1;
                float: right;
                margin-left: 10px;
                font-size: 20px;
                padding: 4px;
                cursor: pointer;
                transition: 0.3s;
            }
            i:hover{
                background-color: #d2d7da;
            }
        }
        
}

.cursor{
    cursor: pointer;
    transition: 0.3s;
}
.cursor:hover{
    color: #1f3aa9;
    font-weight: bold;
}

::ng-deep span.mat-option-text{
    color: #a164ff!important;
}
::ng-deep .mat-form-field-underline .mat-form-field-ripple{
    background-color:#a164ff!important;
}
::ng-deep .mat-focused label{
    color: #a164ff!important;
}