.header{
    background: #ffffff;
    span{
        color: #a164ff;
        font-size: 22px;
        font-weight: bold;
    }
}

.add-customer {
    margin-top: 30px;
    .form{
        display: flex;
        flex-direction: column;
        button{
            background-color: #a164ff;
            color: #ffffff;
        }
    }
}

::ng-deep span.mat-option-text{
    color: #a164ff!important;
}
::ng-deep .mat-form-field-underline .mat-form-field-ripple{
    background-color:#a164ff!important;
}
::ng-deep .mat-focused label{
    color: #a164ff!important;
}