@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body,html{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #eceff0;
}
body{
    padding: 10px;
}